<div mat-dialog-content>
    <form [formGroup]="updateForm" (ngSubmit)="submitForm()" novalidate class="w3-center">
      <div class="form-group">
        <label>Id</label><br>
        <input disabled type="text" placeholder = {{data.id}} formControlName="id" class="form-control" maxlength="40" style="width: 384px;">
      </div>
      <div class="form-group">
          <label>Email</label><br>
          <input type="text" placeholder = {{data.email}} formControlName="email" class="form-control" maxlength="40" style="width: 384px;">
      </div>
      <div class="form-group">
          <label>First Name</label><br>
          <input type="text" placeholder = {{data.first_name}} formControlName="first_name" class="form-control" maxlength="20" style="width: 384px;">
      </div>
      <div class="form-group">
          <label>Last Name</label><br>
          <input type="text" placeholder = {{data.last_name}} formControlName="last_name" class="form-control" maxlength="20" style="width: 384px;">
      </div>
      <div class="form-group">
          <label>Link Avatar</label><br>
          <input type="text" placeholder = {{data.avatar}} formControlName="avatar" class="form-control" maxlength="100" style="width: 384px;">
      </div>

      <button mat-button [mat-dialog-close]= "this.updateForm.value" type="submit">Submit</button>

    </form>
</div>
